In [28]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math
from datetime import datetime
import time
import IPython
import os
import threading
from sklearn.linear_model import LinearRegression

import warnings
warnings.filterwarnings('error', category=UserWarning)

In [29]:
REGIONLIST= ["US", "EU", "UK"]
MODELLIST = ["64", "256", "512"]
ESTIMATELIST = ["Q1","Q2", "Q3"]

In [30]:
def AllPossibleQueues_Func():
  result = []
  for r in REGIONLIST:
    if (r == "ALL"):
      continue
    for m in MODELLIST:
      for e in ESTIMATELIST:
        result.append((r,m,e))
    
  return result

ALLPOSSIBLEQUEUES = AllPossibleQueues_Func()
print(ALLPOSSIBLEQUEUES)

[('US', '64', 'Q1'), ('US', '64', 'Q2'), ('US', '64', 'Q3'), ('US', '256', 'Q1'), ('US', '256', 'Q2'), ('US', '256', 'Q3'), ('US', '512', 'Q1'), ('US', '512', 'Q2'), ('US', '512', 'Q3'), ('EU', '64', 'Q1'), ('EU', '64', 'Q2'), ('EU', '64', 'Q3'), ('EU', '256', 'Q1'), ('EU', '256', 'Q2'), ('EU', '256', 'Q3'), ('EU', '512', 'Q1'), ('EU', '512', 'Q2'), ('EU', '512', 'Q3'), ('UK', '64', 'Q1'), ('UK', '64', 'Q2'), ('UK', '64', 'Q3'), ('UK', '256', 'Q1'), ('UK', '256', 'Q2'), ('UK', '256', 'Q3'), ('UK', '512', 'Q1'), ('UK', '512', 'Q2'), ('UK', '512', 'Q3')]

In [31]:
data = pd.read_excel('stds.xlsx')

In [32]:
data.head()

,Timestamp,Region,Model,rtReserveTime or preorder-email time,Initial Valve Estimate,Your most recent pre-order estimated time,When did you receive your ready to order email?,Unnamed: 7
0,2022-02-25 13:21:39.764,US,256,1626454969,December,Q1,1.645813e+09,NaN
1,2022-02-09 14:50:45.171,UK,512,1635594996,After Q2,After Q2,NaN,NaN
2,2022-02-09 14:54:01.852,US,512,1626454856,December,Q1,NaN,NaN
3,2022-02-09 14:58:39.188,US,256,1644440188,Q1,Q2,NaN,NaN
4,2022-02-09 15:04:48.617,EU,256,1626478685,Q1,Q2,NaN,NaN

In [33]:
data.drop(columns=["Timestamp", "Initial Valve Estimate", "Unnamed: 7"], inplace=True)
data.rename(columns = {"rtReserveTime or preorder-email time ": "Timestamp", "Your most recent pre-order estimated time":"ValveEstimate", "When did you receive your ready to order email?":"TrueOrderTimestamp"}, inplace=True)


namask = data["Region"].isna() | data["Model"].isna() | data["ValveEstimate"].isna() | data["Timestamp"].isna() | data["ValveEstimate"].isna()
print(f"{np.sum(namask)} entries removed for having NA on vital fields\n")
data.drop(data[namask].index,inplace=True)

13 entries removed for having NA on vital fields

In [34]:
#not valid for after Q2
#data = data[data["ValveEstimate"] != "After Q2"]
notEstimable = np.vectorize(lambda x: x not in ESTIMATELIST)
notEstimableMask = notEstimable(data["ValveEstimate"])
print(f"{np.sum(notEstimableMask)} entries removed for being \"After Q2\", \"After Q3\", or similar\n")
data.drop(data[notEstimableMask].index, inplace=True)

764 entries removed for being "After Q2", "After Q3", or similar

In [35]:
#entries supposedly happening after feb 25th 10am PDT
wrongUpdateMask = ((data["ValveEstimate"] == "Q1") | (data["ValveEstimate"] == "Q2") | (data["ValveEstimate"] == "Q3")) & (data["Timestamp"] >= 1645801200)
print(f"{np.sum(wrongUpdateMask)} entries removed for being after Februrary 25th 10am PDT\n")
data.drop(data[wrongUpdateMask].index, inplace=True)

51 entries removed for being after Februrary 25th 10am PDT

In [36]:
 #entries supposedly happening before july 16th 10am PDT
cretinMask = data["Timestamp"] < 1626454800
print(f"{np.sum(cretinMask)} entries removed for being before July 16th 10am PDT\n")
data.drop(data[cretinMask].index, inplace=True)

0 entries removed for being before July 16th 10am PDT

In [37]:
data.head()

  Region  Model   Timestamp ValveEstimate  TrueOrderTimestamp
0     US    256  1626454969            Q1        1.645813e+09
2     US    512  1626454856            Q1                 NaN
3     US    256  1644440188            Q2                 NaN
4     EU    256  1626478685            Q2                 NaN
5     US    512  1627423926            Q3                 NaN

In [38]:
  @np.vectorize
  def digits(x):
    if (np.isnan(x)):
      return -1
    
    return int(np.log10(x))+1
  
  @np.vectorize
  def convertTimestampToSeconds(x):
    if (np.isnan(x)):
      return np.nan
    
    l = digits(x)
    if (l > 10 and (l - 10) % 3 == 0):
      m = (l - 10) // 3
      for _ in range(m):
        x = x // 1000
    
    return x

In [39]:
data["Timestamp"] = convertTimestampToSeconds(data["Timestamp"])
data["TrueOrderTimestamp"] = convertTimestampToSeconds(data["TrueOrderTimestamp"])

In [40]:
data.to_csv("Data.csv")

In [41]:
removeEmpty = data["TrueOrderTimestamp"].isna()
print(f"{np.sum(removeEmpty)} remove empty entries")
data.drop(data[removeEmpty].index, inplace=True)

2032 remove empty entries

In [43]:
trainData = data.copy()

In [44]:
trainData.dtypes
trainData.to_csv("TrainData.csv")

In [45]:
s = (trainData.dtypes == 'object')
object_cols = list(s[s].index)

In [46]:
trainData

     Region  Model   Timestamp ValveEstimate  TrueOrderTimestamp
0        US    256  1626454969            Q1        1.645813e+09
6        EU    512  1626454854            Q1        1.645813e+09
34       UK    256  1626455083            Q1        1.646675e+09
63       EU     64  1626464450            Q1        1.647279e+09
101      EU    512  1626455384            Q1        1.646675e+09
...     ...    ...         ...           ...                 ...
2587     US    512  1626455224            Q1        1.647881e+09
2588     US    256  1626455468            Q1        1.647880e+09
2616     EU    256  1626463800            Q1        1.647881e+09
2628     US    256  1626455340            Q1        1.647971e+09
2742     US    512  1626898903            Q3        1.647981e+09

[73 rows x 5 columns]

In [47]:
# from sklearn.preprocessing import OneHotEncoder

# OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
# trainData_oh = pd.DataFrame(OH_encoder.fit_transform(trainData[object_cols]))
# trainData_c = trainData.drop(object_cols, axis=1)
# trainData_c = pd.concat([trainData_c, trainData_oh], axis=1)
# trainData = trainData_c

In [48]:
#Get the object columns and use ordinal encoder 
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder()
trainData_copy = trainData.copy()

trainData_copy

     Region  Model   Timestamp ValveEstimate  TrueOrderTimestamp
0        US    256  1626454969            Q1        1.645813e+09
6        EU    512  1626454854            Q1        1.645813e+09
34       UK    256  1626455083            Q1        1.646675e+09
63       EU     64  1626464450            Q1        1.647279e+09
101      EU    512  1626455384            Q1        1.646675e+09
...     ...    ...         ...           ...                 ...
2587     US    512  1626455224            Q1        1.647881e+09
2588     US    256  1626455468            Q1        1.647880e+09
2616     EU    256  1626463800            Q1        1.647881e+09
2628     US    256  1626455340            Q1        1.647971e+09
2742     US    512  1626898903            Q3        1.647981e+09

[73 rows x 5 columns]

In [49]:
trainData_copy[object_cols] = ordinal_encoder.fit_transform(trainData[object_cols])
# namask = trainData[0].isna()
# print(f"{np.sum(namask)} entries removed for having NA on vital fields\n")
# trainData.drop(data[namask].index,inplace=True)

In [50]:
trainData_copy[object_cols]
# trainData_copy = trainData.copy()
# trainData_copy

      Region  ValveEstimate
0        2.0            0.0
6        0.0            0.0
34       1.0            0.0
63       0.0            0.0
101      0.0            0.0
...      ...            ...
2587     2.0            0.0
2588     2.0            0.0
2616     0.0            0.0
2628     2.0            0.0
2742     2.0            2.0

[73 rows x 2 columns]

In [51]:
features = ["Region", "Model", "Timestamp", "ValveEstimate"]
X = trainData_copy[features].copy()

In [52]:
X

      Region  Model   Timestamp  ValveEstimate
0        2.0    256  1626454969            0.0
6        0.0    512  1626454854            0.0
34       1.0    256  1626455083            0.0
63       0.0     64  1626464450            0.0
101      0.0    512  1626455384            0.0
...      ...    ...         ...            ...
2587     2.0    512  1626455224            0.0
2588     2.0    256  1626455468            0.0
2616     0.0    256  1626463800            0.0
2628     2.0    256  1626455340            0.0
2742     2.0    512  1626898903            2.0

[73 rows x 4 columns]

In [53]:
y_features = ["TrueOrderTimestamp"]
y = trainData_copy[y_features].copy()

In [54]:
y

      TrueOrderTimestamp
0           1.645813e+09
6           1.645813e+09
34          1.646675e+09
63          1.647279e+09
101         1.646675e+09
...                  ...
2587        1.647881e+09
2588        1.647880e+09
2616        1.647881e+09
2628        1.647971e+09
2742        1.647981e+09

[73 rows x 1 columns]

In [55]:
#Do a test train split
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                      random_state=0)

In [65]:
#use linear regression to train the model and score the accuracy of the model
model = LinearRegression()
model = LinearRegression().fit(X, y)

len(X)

73

In [58]:
r_sq = model.score(X_valid, y_valid)
print(r_sq)

-10872452.092036828

In [59]:
from sklearn.metrics import mean_absolute_error

preds = model.predict(X_valid)
print(mean_absolute_error(y_valid, preds))

6539404406.541667

In [61]:
#Region	Model	Timestamp	ValveEstimate
d = {'Region': 1.0, 'Model': 512, "TimeStamp": 1646688423, "ValveEstimate": 0.0}
df = pd.DataFrame(data=d, index=[755])

res  = model.predict(df)
print("{0:.0f}".format(res[0][0]))

9202936829712

In [63]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100)
rf.fit(X, y.values.ravel())

DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [ ]:
r_sq = rf.score(X_valid, y_valid.values.ravel())
print(r_sq)